<!DOCTYPE html>

<html lang ="en">
    
<head>
    <title>NOde sms</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>
<body>
<div id="container">
    <h2>text message</h2>
    <input type="tel" name="number" id="number" placeholder="phone number">
    <input type="text" name="msg" id="msg" placeholder="message">
    <input type="button" id="button" value="send" class="button button-primary">

    <p class="response"></p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<script src="js/main.js"></script>
</body>
</html>